<h1>Contact</h1>
<div class="row container-contact">
  <div class="col-md-4 col-xs-12 col-s-12 adress">
    <ul>
      <li><span class="glyphicon glyphicon-map-marker"></span> Boddinstrasse 20 // 12053 Berlin</li>
      <li><span class="glyphicon glyphicon-phone"></span> +49 176 72468090</li>
    </ul>
    <iframe width="90%" height="120%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJT7EGyLxPqEcR1kGF0NZVA30&key=AIzaSyDa7OqJ3_RPMkZgM1Xdd66c5Vi6r41l-MI" allowfullscreen></iframe>
  </div>
  <%= flash[:notice] %>
  <%= form_tag("/static_pages/thank_you") do %>
  <div class="col-md-8 col-xs-12 col-s-12 contact-form">
    <div class="form-group name">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>
    <div class="form-group email">
      <%= label_tag :email, "Email Adress" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group message">
      <%= label_tag :message, "Message" %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
      <%= submit_tag "Send", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>