<% if user_signed_in? %>
  <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-amount= <%= @product.price_cents%>
      data-name= <%= @product.name %>
      data-description= "Say Hi! to your new bike"
      data-image= <%= image_tag ("128x128.jpg") %>
      data-currency= "EUR"
      data-locale= "auto">
    </script>
    <%= hidden_field_tag(:product_id, @product.id) %>
  </form>
<% else %>
  <p>Please sign in to continue with the checkout!</p>
<% end %>
