<div class="row">
  <div class="show_details col-md-4 col-xs-12">
    <h3><%= @product.name %></h3>

    <h4><strong>Description</strong></h4>
    <p><%= @product.description %></p>

    <h4><strong>Color</strong></h4>
    <p><%= @product.color %></p>

    <h4><strong>Price</strong></h4>
    <p><%= humanized_money_with_symbol @product.price %></p>

    <h4><strong>Average Rating</strong></h4>
    <div class="rated" data-score="<%= @product.average_rating %>"></div>
    <% if user_signed_in? %>
      <%= form_tag "/payments", class: "payment-button" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    <% else %>
        <%= redirect_to "Log in", new_user_session_path %>
    <% end %>
  </div>
  <div class="col-md-8 col-xs-12">
    <%= image_tag(@product.image_url, class: "list_image_show center-block") %>
    <div class="glyphicon-align">
      <%= link_to edit_product_path(@product), class: "button-text" do %>
      <span class="glyphicon glyphicon-pencil"></span>Edit
      <% end %>
      <%= link_to products_path, class: "button-text" do %>
      <span class="glyphicon glyphicon-step-backward"></span>Back
      <% end %>
    </div>
  </div>
</div>
<%= render 'products/new_comment' %>
<%= render 'products/comments' %>
<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
