<p id="notice"><%= notice %></p>
<div class="wrapper">

  <h3><strong>Name</strong></h3>
  <p><%= @product.name %></p>

  <h3><strong>Description</strong></h3>
  <p><%= @product.description %></p>

  <h3><strong>Color</strong></h3>
  <p><%= @product.color %></p>

  <h3><strong>Price</strong></h3>
  <p><%= @product.price %>&#8364</p>



  <p><%= image_tag(@product.image_url, :class => 'list_image_show') %></p>

 <div class="btn-group">
  <button type="button" class="btn btn-success btn-xs"><%= link_to 'Edit', edit_product_path(@product), :class => "button_text" %></button>
  <button type="button" class="btn btn-warning btn-xs"><%= link_to 'Back', products_path, :class => "button_text" %></button>
  </div>
</div>
