<!DOCTYPE html>
<html>
<head>
  <title>Berlin Bike Shop</title>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>
  <div id="wrap">
    <div id="main" class="container clear-top">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!--<div class="page-wrap"></div>-->
        <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li><%= link_to "Home", static_pages_landing_page_path, :class => "navigation_link" %></li>
                <li><%= link_to "Shop", products_url, :class => "navigation_link" %></li>
                <li><%= link_to "About", static_pages_about_path, :class => "navigation_link" %></li>
                <li><%= link_to "Contact", static_pages_contact_path, :class => "navigation_link" %></li>
                <li class="dropdown navigation_link">
                  <% if user_signed_in? %>
                    <%= link_to current_user.first_name, nil, :class => "dropdown-toggle navigation_link", :data => {:toggle => "dropdown"}  %>
                      <ul class="dropdown-menu">
                        <li><%= link_to user_path(current_user) do %>
                          My Profile
                          <span class="glyphicon glyphicon-user pull-right"}></span>
                        <% end %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to edit_user_path(current_user) do %>
                          Account Settings
                          <span class="glyphicon glyphicon-cog pull-right"}></span>
                        <% end %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to orders_path do %>
                          Orders
                          <span class="glyphicon glyphicon-stats pull-right"}></span>
                        <% end %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to destroy_user_session_path, :method => :delete do %>
                          Signout
                          <span class="glyphicon glyphicon-log-out pull-right"}></span>
                        <% end %>
                        </li>
                      </ul>
                  <% else %>
                        <li><%= link_to('Login', new_user_session_path, :class => "navigation_link") %></li>
                  <% end %>
                </li>
              </ul>

              <%= form_tag("/products", method: "get", class: "navbar-form" ) do %>
                <div class="form-group">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search" ) %>
                </div>
              <% end %>

               <h2 class="logo">bln bike shop</h2>
              </div>
            </div>
          </div><!--end of nav container-->
        </nav> <!--navbar ends here-->
      <div class="headline">
      <h1>Welcome to BLN Bike Shop</h1>
      <h2>Your source for used bikes in Berlin</h2>
      </div>
      <hr>
      <% if notice %>
        <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert" class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
  <%= yield %>

    </div>
  </div>
  <footer class="footer">
    <p class="copyright">&copy; Copyright 2015 Marco Steffensky // All rights reserved
    <div class="social-button">
      <a href="https://twitter.com/MSteffensky" class="twitter-follow-button" data-show-count="false">Follow @MSteffensky</a>
      <div class="fb-like" data-href="https://www.facebook.com/RoadBIKE.magazin" data-width="50" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </footer>
</body>
</html>
